@import 'bootstrap';

body {
    width: 80%;
    background-color: #aeb8e3;
}

h1 {
    color: #800003;
    text-align: center;
}

h2 {
    color: #ff0000;
    font-size: 50px;
}



.input-group{
    margin: 0 auto;
    width: 50%;
}